body{
    background-color: rgb(213, 225, 246);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: larger;
}



body{
    color:rgb(55, 39, 39)
}

a{
    color:rgb(0, 72, 255)
}


