body{
    background-color: rgb(236, 252, 255);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: larger;
}



body{
    color:rgb(55, 39, 39)
}

a{
    color:rgb(0, 72, 255)
}

.foto{
    max-width: fit-content;
    margin-left: auto;
    
}

.blok{
    flex-direction:row;
    display: flex; 
}