body{
    background-color: rgb(213, 225, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(55, 39, 39);
  }


h1{
    font-size: xx-large;
}

h2{
    font-size: larger;
}


a{
    color:rgb(0, 72, 255)
}


.navbar {
    background-color: #383838;
    overflow: hidden;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    position: relative;
  }
  
  .nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav a:hover {
    background-color: #741919;
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hz-logo {
    width: 120px;
    height: auto;
    max-width: 100%; /* Image will never be larger than its container */
    height: auto; /* Maintain the aspect ratio */
    position: absolute; /* or use 'fixed' depending on your needs */
    right: 10px; /* Aligns the image to the right */
    margin: 10px; /* Optional: Add some spacing from the edges */
  }

  .Microbit {
    width: 120px;
    height: auto;
    max-width: 100%; /* Image will never be larger than its container */
    height: auto; /* Maintain the aspect ratio */
    position: absolute; /* or use 'fixed' depending on your needs */
    top: 250px; /* Aligns the image to the top */
    right: 10px; /* Aligns the image to the right */
    margin: 10px; /* Optional: Add some spacing from the edges */
  }